body{
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}



.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff1d5;
  width: 800px;
  padding: 20px;
  border: 1px solid #bddde4;
  border-radius: 10px;
  box-shadow:  rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
}

a{
    text-decoration: none;
    color: #9fb3df;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    font-size: large;
    font-weight: bold;
}

a:hover{
    color: crimson;
    transition: color 0.3s ease-in-out;
    text-decoration: underline;
}

.order-details {
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: left;
    text-align: left;
    padding: 10px;

}

.order-details h2{
    text-align: center;
    text-decoration: underline;
}

td , tr {
    padding: 10px;
}

.payment-method h2{
    font-weight: bold;
    text-decoration: underline;
}

.confirm {
    text-decoration: none;
    border: 1px solid black;
    background-color: #9fb3df;
    padding: 2px 5px;
    border-radius: 1rem;
    font-size: medium;
    margin-top: 10px;
}

.confirm:hover {
    background-color: crimson;
    transition: background-color 0.3s ease-in-out;
}