body {
    background-color: #123458;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Login-container {
    background-color: #030303;
    color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0 10px 10px;
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

input[type="email"] {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 350px;
    border-bottom: 1px solid white;
}

input[type="password"] {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 350px;
    border-bottom: 1px solid white;
}

button {
    background-color: transparent;
    color: #006A71 ;
    opacity: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
    font-size: larger;
    font-weight: bold;
}


.register {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 15px;
}

.register a {
    color: #006A71;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

button , a:hover {
    text-decoration: underline;
}